In [1]:
import os

checkpoint_file = 'model/checkpoint.pth'
memory_file = 'model/memory.pkl'

if os.path.exists(checkpoint_file):
    print(f"Checkpoint file '{checkpoint_file}' exists.")
else:
    print(f"Checkpoint file '{checkpoint_file}' is missing!")

if os.path.exists(memory_file):
    print(f"Memory file '{memory_file}' exists.")
else:
    print(f"Memory file '{memory_file}' is missing!")

Checkpoint file 'model/checkpoint.pth' is missing!
Memory file 'model/memory.pkl' is missing!

In [5]:
import pandas as pd

games_df = pd.read_csv('game_results.csv')
games_df

,game,epsilon,exploration,exploitation,score,record,timestamp
0,1,1.00000,184,0,0,0,2025-02-12 12:51:13.241992
1,2,0.99901,361,0,0,0,2025-02-12 12:51:16.759383
2,3,0.99802,98,0,0,0,2025-02-12 12:51:17.848244
3,4,0.99703,121,0,0,0,2025-02-12 12:51:19.157139
4,5,0.99604,296,1,0,0,2025-02-12 12:51:22.020327
...,...,...,...,...,...,...,...
195,196,0.10000,23,240,0,1,2025-02-12 12:59:09.556874
196,197,0.10000,4,31,0,1,2025-02-12 12:59:10.167269
197,198,0.10000,40,321,0,1,2025-02-12 12:59:13.632841
198,199,0.10000,27,334,0,1,2025-02-12 12:59:17.025446
199,200,0.10000,33,328,0,1,2025-02-12 12:59:20.478394

In [6]:
import pandas as pd

checkpoint_df = pd.read_csv('checkpoint_results.csv')
checkpoint_df

   games_range  epsilon  gamma     LR  total_exploration  total_exploitation
0         1-10  0.99010   0.99  0.002               2220                   9
1        11-20  0.97921   0.99  0.002               2599                  34
2        21-30  0.96931   0.99  0.002               2550                  73
3        31-40  0.95941   0.99  0.002               2243                  83
4        41-50  0.94951   0.99  0.002               1718                  72
5        51-60  0.93961   0.99  0.002               2412                 153
6        61-70  0.92971   0.99  0.002               2845                 188
7        71-80  0.09901   0.99  0.002                279                1221
8        81-90  0.09901   0.99  0.002                210                1512
9       91-100  0.09901   0.99  0.002                236                2202
10     101-110  0.09901   0.99  0.002                248                2307
11     111-120  0.09901   0.99  0.002                258                2505
12     121-130  0.09901   0.99  0.002                248                2146
13     131-140  0.09901   0.99  0.002                237                1925
14     141-150  0.09901   0.99  0.002                280                2386
15     151-160  0.09901   0.99  0.002                278                2516
16     161-170  0.09901   0.99  0.002                324                2868
17     171-180  0.09901   0.99  0.002                283                2463
18     181-190  0.09901   0.99  0.002                212                2057
19     191-200  0.09901   0.99  0.002                241                2257